@{
    ViewData["Title"] = Model.AltText;
}

<div class="text-center">
    <h1 class="Homiebot">Behold</h1>
    <img class="img-fluid"  src="@Url.Action("ImageFile", "Image", new { name = Model.Name })" alt="@Model.AltText" />
</div>